<ion-header>
  <ion-toolbar>
    <ion-title>Mis tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div *ngIf="this.tareas && this.tareas.length > 0">


      <ion-list *ngFor="let tarea of this.tareas; let i = index">
        <ion-item-sliding>
          <ion-item>
            <ion-label>
              {{tarea.titulo}}
            </ion-label>

            <!-- <ion-button color="medium" fill="outline">
              <ion-icon name="checkmark"></ion-icon>
            </ion-button> -->
          </ion-item>

          <ion-item-options>
            <ion-item-option (click)="eliminar(tarea)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>

            <ion-item-option color="primary" (click)="abrirPaginaTarea(tarea.id)">
              <ion-icon name="pencil"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <ion-button expand="block" color="success" fill="outline" (click)="abrirPaginaTarea()">AGREGAR</ion-button>

  </div>
</ion-content>